/* You can add global styles to this file, and also import other style files */
html, body, .page-container { 
    height: 100%;
}

.responsive-sizing {
    height: 3rem;
    font-size: 3rem;
    margin: 1.5rem 0;
}

.card-header{
    background-color: #3E8A60;
    color: white;
}

.card-body {
    background-color: #C8E6C9;
}

/* mobile phones */
@media screen and (max-width: 992px) {
    .responsive-sizing {
        height: 2.75rem;
        font-size: 2.75rem;
        margin: 1.25rem 0;
    }
}

/* iPads (portrait and landscape) */
@media screen and (max-width: 600px) {
    .responsive-sizing {
        height: 2.5rem;
        font-size: 2.5rem;
        margin: 1rem 0;
    }
}