#title-container {
    margin: 1.5rem 0;
}

#home-container {
    min-height: 100%;
}

h1 {
    font-size: 3rem;
}

/* mobile phones */
@media screen and (max-width: 992px) {
    #title-container {
        
        margin: 1.25rem 0;
    }

    h1 {
        font-size: 2.75rem;
    }
}

/* iPads (portrait and landscape) */
@media screen and (max-width: 600px) {
    #title-container {
        margin: 1rem 0;
    }

    h1 {
        font-size: 2.5rem;
    }
}

.centerdiv {
    flex : 1;
}