#full-page-container {
    max-height: 100vh;
}

#main {
    background: #52B77C;
    flex: 1;
    -webkit-box-shadow: inset 0px 0px 128px rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0px 0px 128px rgba(255, 255, 255, 0.25);
    box-shadow: inset 0px 0px 128px rgba(255, 255, 255, 0.25);
}

footer {
    background: #3E8A60;
}

img {
    height: 3rem;
    margin: 1.5rem 0;
}

/* mobile phones */
@media screen and (max-width: 992px) {
    img {
        height: 2.75rem;
        margin: 1.25rem 0;
    }
}

/* iPads (portrait and landscape) */
@media screen and (max-width: 600px) {
    img {
        height: 2.5rem;
        margin: 1rem 0;
    }
}